[submodule "vim/vim.symlink/bundle/command-t"]
	path = vim/vim.symlink/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/vim.symlink/bundle/nerdtree"]
	path = vim/vim.symlink/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "vim/vim.symlink/bundle/vim-nerdtree-tabs"]
	path = vim/vim.symlink/bundle/vim-nerdtree-tabs
	url = git://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/vim.symlink/bundle/vim-slim"]
	path = vim/vim.symlink/bundle/vim-slim
	url = git://github.com/slim-template/vim-slim.git
[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/vim-haml"]
	path = vim/vim.symlink/bundle/vim-haml
	url = git://github.com/tpope/vim-haml
[submodule "vim/vim.symlink/bundle/html5"]
	path = vim/vim.symlink/bundle/html5
	url = git://github.com/othree/html5.vim
[submodule "vim/vim.symlink/bundle/syntastic"]
	path = vim/vim.symlink/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-handlebars"]
	path = vim/vim.symlink/bundle/vim-handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "vim/vim.symlink/bundle/vim-javascript"]
	path = vim/vim.symlink/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/vim.symlink/bundle/tagbar"]
	path = vim/vim.symlink/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/vim.symlink/bundle/--force"]
	path = vim/vim.symlink/bundle/--force
	url = git://github.com/jistr/vim-nerdtree-tabs
[submodule "vim/vim.symlink/bundle/vim-airline"]
	path = vim/vim.symlink/bundle/vim-airline
	url = git://github.com/bling/vim-airline
