[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "powerline-fonts"]
	path = powerline-fonts
	url = https://github.com/powerline/fonts.git
[submodule "fish/fish.symlink/nvm-wrapper"]
	path = fish/fish.symlink/nvm-wrapper
	url = https://github.com/passcod/nvm-fish-wrapper.git
